<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% extends "homeIndex.html" %}
    {% block right %}
    <div class="filesDiv">
        {% if not isRoot %}
        <a href="/fileView?reqFileurl={{upPath}}">..返回上一级</a>
        {%endif%}
        <ul>
            {% for file in viewFiles %}
            {% if file.isDirectory %}
            <li><a href="/fileView?reqFileurl={{file.filePath}}">{{file.filename}}</a></li>
            {%else%}
            <li>{{file.filename}}</li>
            {%endif%}
            {%endfor%}
        </ul>
    </div>
    {% endblock %}
</body>
</html>