<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        .headerinfo{
            background-color: aquamarine;
            width: 100%;
            height: 100px;
        }
        .left{
            background-color: rgb(144, 221, 221);
            width: 25%;
            height: 500px;
            float: left;
        }
        .right{
            background-color: cadetblue;
            width: 75%;
            height: 500px;
            float: left;
        }
    </style>
</head>
<body>

    {% block header %}<div class="headerinfo">头部</div>{% endblock %}

    <div class="left">{% block left %}{% endblock %} </div>

    <div class="right">{% block right %}{% endblock %} </div>

</body>
</html>